html, body {
	min-height: 100%;
}

body {
	font-family: Verdana, Tahoma, Arial, "Trebuchet MS", sans-serif;
	font-size: 13px;
	background: #3f51b5;
	background: linear-gradient(to bottom, #3f51b5 0%,#5e6fc7 100%);
	color: #3F51B5;
}

h4 {
	margin: 0;
}

#mainDiv {
	margin: 10px auto;
	width: 600px;
	background: #FFF;
	padding: 8px 15px;
	border-radius: 10px;
}

.linkStyled {
	cursor: pointer;
}
.linkStyled:hover {
	color: #43a047;
}

.caption {
	font-weight: bold;
	font-size: 16px;
	color: #3565B5;
	margin: 0 0 10px 0;
}

.donateLink {
	border-radius: 10px;
	color: #FFF;
	padding: 5px;
	text-decoration: none;
	background: #7a99d0;
	background: linear-gradient(to bottom,  #7a99d0 0,#3565b5 100%);
	display: inline-block;
}

.donateLink:hover {
	background: #3565B5;
	text-decoration: none;
}

label.text-link, label.text-link image {
	outline: none;
}
p > label {
	display: block;
	width: fit-content;
}
span.header {
	display: block;
	font-weight: bold;
}
input.numbered {
	width: 60px;
}

.infoLabel {
	color: #9E9E9E;
}


.whatsnew {
	top: 50px;
	position: absolute;
	left: calc(50% - 300px);
}
.whatsnew p {
	font-size: 15px;
}

#userLinksDiv .userLinkUrl {
	width: 300px;
}
#userLinksDiv input.error{
	border-color: #f44336;
}
#userLinksDiv .userLinkUrlTitle {
	width: 170px;
}

#userLinkDivTemplate {
	display: none;
}