body {
	font-family: Verdana, Tahoma, Arial, "Trebuchet MS", sans-serif;
	font-size: 13px;
	color: #3F51B5;
	margin: 0 5px 5px;
	background: #FFFFFF;
}

/***************** GLOBAL *****************/

.hidden {
	display: none !important;
}

.loading {
	-webkit-animation-name: rotate;
	-webkit-animation-duration:2s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-timing-function:linear;
	-moz-animation-name: rotate;
	-moz-animation-duration:1s;
	-moz-animation-iteration-count:infinite;
	-moz-animation-timing-function:linear;
}
@-webkit-keyframes rotate {
	from {-webkit-transform:rotate(0deg);}
	to {  -webkit-transform:rotate(360deg);}
}
@-moz-keyframes rotate {
	from {-moz-transform:rotate(0deg);}
	to {  -moz-transform:rotate(360deg);}
}

/***************** HEADER *****************/

#header { }
#header.fixed {
	position: fixed;
	z-index: 1;
	background: #FFFFFF;
	top: 0;
	left: 5px;
	right: 5px;
}

/************* #mainPanel *************/

#mainPanel {
	width: 100%;
	border-bottom: 1px dotted #3F51B5;
	padding: 5px 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

#mainPanel > div {
	display: inline-block;
	white-space: nowrap;
	flex-grow: 0;
}

#mainPanel > div > span {
	display: inline-block;
	cursor: pointer;
	margin: 0 5px;
	font-size: 18px;
	vertical-align: middle;
}

#mainPanel .icon_png {
	background-image: url(/img/icons2.png);
	background-repeat: no-repeat;
	display: inline-block;
	height: 16px;
	width: 16px;
}

#mainPanel .icon_svg {
	display: inline-block;
	height: 16px;
	width: 16px;

	background: #3F51B5;
	mask-size: contain;
	-webkit-mask-size: contain;
}
#mainPanel .icon_svg:hover {
	background: #2196F3;
}

#mainPanel > div > span:hover {
	color: #2196F3;
}

/********* BUTTONS *********/

#panelQMS .icon {
	background-position: -16px -16px;
}
#panelQMS.hasUnread .icon {
	background-position: 0 -16px;
}
#panelQMS:hover .icon {
	background-position: -32px -16px;
}

#panelFavorites .icon {
	background-position: -16px 0;
}
#panelFavorites.hasUnread .icon {
	background-position: 0 0;
}
#panelFavorites:hover .icon {
	background-position: -32px 0;
}

#panelMentions .icon {
	background-position: -178px 0;
}
#panelMentions.hasUnread .icon {
	background-position: -162px 0;
}
#panelMentions:hover .icon {
	background-position: -194px 0;
}

#panelSettings {
	background-position: -64px 0;
	margin: 0 10px !important;
}
#panelSettings:hover {
	background-position: -64px -16px;
}

#massThemesActions {
	flex: 1;
	text-align: center;
}
#massThemesActions > span.icon {
	margin: 0 2px;
	width: 22px;
}
#panelOpenAll {
	background-position: -80px 0;
}
#panelOpenAll:hover {
	background-position: -80px -16px;
}
#panelOpenAllPin {
	background-position: -140px 0;
}
#panelOpenAllPin:hover {
	background-position: -140px -16px;
}
#panelReadAll {
	background-position: -102px 0;
}
#panelReadAll:hover {
	background-position: -102px -16px;
}

#panelRefresh {
			mask: url("/img/refresh.svg") no-repeat 50% 50%;
	-webkit-mask: url("/img/refresh.svg") no-repeat 50% 50%;
}

#panelUsernameHBox {
	margin-left: 10px;
}

#mainPanel > div > #panelUsername {
	margin: -4px 5px 0 0;
}

/************* #userLinks *************/

#userLinks {
	/*display: none;*/
	width: 100%;
	border-bottom: 1px dotted #3F51B5;
	padding: 0;
}
#userLinks span {
	color: #3F51B5;
	cursor: pointer;
	font-size: 13px;
	margin: 5px;
	padding: 0;
	text-decoration: none;
	display: inline-block;
	border-bottom: 1px dotted #3F51B5;
}
#userLinks span:hover {
	color: #2196F3;
	border-color: #2196F3;
}

/***************** THEMES LIST *****************/

#themesList {
	z-index: 0;
	white-space: nowrap;
}

#themesList span:not(.oneTheme_user) {
	cursor: pointer;
}
#themesList > .oneTheme {
	display: block;
	border-bottom: 1px solid #D0E4EC;
	color: #222;
	padding: 2px 4px;
	position: relative;
}
#themesList > .oneTheme:hover {
	background-color: #D0E4EC;
}

#themesList .oneTheme_caption {
	color: #3F51B5;
	font-size: 13px;
	margin: 0;
	display: block;
	overflow: hidden;
}
#themesList.simpleList .oneTheme_caption {
	margin-right: 15px;
}
#themesList .oneTheme_caption:hover {
	color: #2196F3;
}

body.widthFixed #themesList .oneTheme_caption {
	overflow: hidden;
	text-overflow: ellipsis;
}

#themesList .oneTheme_pin {
	color: #43a047;
}
#themesList .oneTheme_pin:hover {
	color: #8BC34A;
}

#themesList .oneTheme_caption.readed {
	color: #9E9E9E;
	text-decoration: line-through;
}

.oneThemeInfoHBox > span {
	color: #9E9E9E;
	font-size: 11px;
	margin: 0 10px 0 0;
}

.oneThemeInfoHBox>.oneTheme_lastPost:hover {
	color: #2196F3;
}

#themesList .oneTheme_markAsRead {
	display: block;
	margin: 0;
	cursor: pointer;
	background: -124px 0 url(/img/icons2.png) no-repeat;
	height: 16px;
	width: 16px;
	position: absolute;
	right: 0;
	bottom: 0;
}
#themesList .oneTheme_markAsRead:hover {
	background-position: -124px -16px;
}

#themesList .oneTheme_markAsRead.loading {
	background: #3F51B5;
			mask: url("/img/refresh.svg") no-repeat 50% 50%;
	-webkit-mask: url("/img/refresh.svg") no-repeat 50% 50%;
			mask-size: 12px;
	-webkit-mask-size: 12px;
}