.icon_mask {
  background: #3f51b5;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
}
.icon_mask:hover {
  background: #2196f3;
}
.icon_mask:disabled {
  background: #9e9e9e;
}
.icon_mask.svg {
  mask-position: 50% 50%;
  -webkit-mask-position: 50% 50%;
  mask-size: contain;
  -webkit-mask-size: contain;
}
body {
  font-family: Verdana, Tahoma, Arial, "Trebuchet MS", sans-serif;
  font-size: 13px;
  margin: 0 0 5px;
  color: #3f51b5;
  background-color: #ffffff;
  user-select: none;
}
body::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
body::-webkit-scrollbar-thumb {
  background: #9e9e9e;
}
body::-webkit-scrollbar-track {
  background: rgba(238, 238, 255, 0.5);
}
body.theme_dark {
  background-color: #000000;
  color: #7a99d0;
}
body.theme_dark .icon_mask {
  background: #7a99d0;
}
body.theme_dark .icon_mask:hover {
  background: #2196f3;
}
body.theme_dark #mainPanel #mainPanelButtonsBox .icoAndCount.hasUnread {
  color: #7a99d0;
}
body.theme_dark #mainPanel #mainPanelButtonsBox .icoAndCount.hasUnread::before {
  background: #5e6fc7;
}
body.theme_dark #mainPanel #mainPanelButtonsBox .icoAndCount.hasUnread:hover {
  color: #2196f3;
}
body.theme_dark #mainPanel #mainPanelButtonsBox .icoAndCount.hasUnread:hover::before {
  background: #2196f3;
}
body.theme_dark #themesList > .oneTheme .oneTheme_caption {
  color: #7a99d0;
}
body.theme_dark #themesList > .oneTheme .oneTheme_caption:hover {
  color: #2196f3;
}
body.theme_dark #themesList > .oneTheme .oneTheme_caption.oneTheme_pin {
  color: #1d967f;
}
body.theme_dark #themesList > .oneTheme .oneTheme_caption.oneTheme_pin:hover {
  color: #43baa3;
}
/***************** GLOBAL *****************/
.hidden {
  display: none !important;
}
.loading {
  -webkit-animation-name: rotate;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: rotate;
  -moz-animation-duration: 1s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
}
@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes rotate {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
#mainPanel span,
#mainPanel .icoAndCount::before,
#themesList > .oneTheme span {
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}
/*********************************************/
#header {
  padding: 0;
  position: sticky;
  top: 0;
  background: inherit;
  z-index: 10;
}
#mainPanel {
  width: 100%;
  border-bottom: 1px dotted #3f51b5;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 0;
  box-sizing: border-box;
}
#mainPanel > div {
  display: inline-block;
  white-space: nowrap;
  flex-grow: 0;
}
#mainPanel > div > span {
  display: inline-block;
  cursor: pointer;
  margin: 0 5px;
  font-size: 18px;
  vertical-align: middle;
}
#mainPanel > div > span:hover {
  color: #2196f3;
}
#mainPanel > div > span:first-child {
  margin-left: 0;
}
#mainPanel > div > span:last-child {
  margin-right: 0;
}
#mainPanel .icon_mask {
  height: 16px;
  width: 16px;
}
#mainPanel #mainPanelButtonsBox .icoAndCount {
  display: inline-flex;
  align-items: center;
  color: #9e9e9e;
}
#mainPanel #mainPanelButtonsBox .icoAndCount::before {
  content: '';
  mask-position: 50% 50%;
  -webkit-mask-position: 50% 50%;
  mask-size: contain;
  -webkit-mask-size: contain;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  background: #9e9e9e;
  display: inline-block;
  height: 16px;
  width: 16px;
  margin-right: 2px;
}
#mainPanel #mainPanelButtonsBox .icoAndCount.hasUnread {
  color: #3f51b5;
}
#mainPanel #mainPanelButtonsBox .icoAndCount.hasUnread::before {
  background: #3f51b5;
}
#mainPanel #mainPanelButtonsBox .icoAndCount:hover {
  color: #2196f3;
}
#mainPanel #mainPanelButtonsBox .icoAndCount:hover::before {
  background: #2196f3;
}
#mainPanel #mainPanelButtonsBox #panelQMS::before {
  mask-image: url("/img/message.svg");
  -webkit-mask-image: url("/img/message.svg");
}
#mainPanel #mainPanelButtonsBox #panelFavorites::before {
  mask-image: url("/img/star.svg");
  -webkit-mask-image: url("/img/star.svg");
}
#mainPanel #mainPanelButtonsBox #panelMentions::before {
  mask-image: url("/img/mention.svg");
  -webkit-mask-image: url("/img/mention.svg");
}
#mainPanel #additionalButtonsBox {
  flex-grow: 0;
  text-align: center;
}
#mainPanel #additionalButtonsBox #panelSettings {
  mask-image: url("/img/settings.svg");
  -webkit-mask-image: url("/img/settings.svg");
  margin: 0 10px !important;
}
#mainPanel #massThemesActions {
  flex-grow: 0;
  text-align: center;
}
#mainPanel #massThemesActions > span.icon_mask {
  margin: 0 2px;
  width: 22px;
  height: 16px;
}
#mainPanel #massThemesActions #panelOpenAll {
  mask-image: url("/img/mass/open_all.svg");
  -webkit-mask-image: url("/img/mass/open_all.svg");
}
#mainPanel #massThemesActions #panelOpenAllPin {
  mask-image: url("/img/mass/open_pin.svg");
  -webkit-mask-image: url("/img/mass/open_pin.svg");
}
#mainPanel #massThemesActions #panelReadAll {
  mask-image: url("/img/mass/read_all.svg");
  -webkit-mask-image: url("/img/mass/read_all.svg");
}
#mainPanel #panelUsernameHBox {
  margin-left: 10px;
}
#mainPanel #panelUsernameHBox #panelRefresh {
  mask-image: url("/img/refresh.svg");
  -webkit-mask-image: url("/img/refresh.svg");
}
#mainPanel #panelUsernameHBox #panelUsername {
  margin: -4px 5px 0 0;
}
#userLinks {
  width: 100%;
  border-bottom: 1px dotted #3f51b5;
  padding: 0;
}
#userLinks:empty {
  display: none;
}
#userLinks span {
  cursor: pointer;
  font-size: 13px;
  margin: 5px;
  padding: 0;
  text-decoration: none;
  display: inline-block;
  border-bottom: 1px dotted #3f51b5;
}
#userLinks span:hover {
  color: #2196f3;
  border-color: #2196f3;
}
#themesList {
  z-index: 0;
}
#themesList > .oneTheme {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 1px solid rgba(94, 111, 199, 0.2);
  padding: 2px 5px;
  white-space: nowrap;
  position: relative;
}
#themesList > .oneTheme > * {
  cursor: pointer;
}
#themesList > .oneTheme:hover {
  background: linear-gradient(to right, rgba(94, 111, 199, 0.2) 0, rgba(94, 111, 199, 0.2) 95%, transparent 100%);
}
#themesList > .oneTheme .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
#themesList > .oneTheme .overlay:hover + .oneTheme_caption {
  color: #2196f3;
}
#themesList > .oneTheme .overlay:hover + .oneTheme_caption.oneTheme_pin {
  color: #43baa3;
}
#themesList > .oneTheme .oneTheme_caption {
  overflow: hidden;
  text-overflow: ellipsis;
  flex-grow: 1;
  pointer-events: none;
}
#themesList > .oneTheme .oneTheme_caption.oneTheme_pin {
  color: #1d967f;
}
#themesList > .oneTheme .break {
  flex-basis: 100%;
  height: 0;
}
#themesList > .oneTheme .lastPost {
  color: #9e9e9e;
  font-size: 11px;
  z-index: 2;
}
#themesList > .oneTheme .lastPost > span {
  margin: 0 5px 0 0;
  pointer-events: none;
}
#themesList > .oneTheme .lastPost:hover {
  color: #2196f3;
}
#themesList > .oneTheme .oneTheme_markAsRead {
  height: 14px;
  width: 14px;
  mask-image: url("/img/eye.svg");
  -webkit-mask-image: url("/img/eye.svg");
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: 50% 50%;
  -webkit-mask-position: 50% 50%;
  mask-size: 14px 14px;
  -webkit-mask-size: 14px 14px;
  background: #9e9e9e;
  padding-left: 5px;
  z-index: 2;
}
#themesList > .oneTheme .oneTheme_markAsRead:hover {
  background: #2196f3;
}
#themesList > .oneTheme .oneTheme_markAsRead.loading {
  background: #3f51b5;
  mask-image: url("/img/refresh.svg");
  -webkit-mask-image: url("/img/refresh.svg");
}
#themesList > .oneTheme.used {
  color: #9e9e9e;
}
#themesList > .oneTheme.used .oneTheme_caption {
  color: inherit;
  text-decoration: line-through;
}
#themesList > .oneTheme.used .oneTheme_caption:hover {
  color: inherit;
}
#themesList > .oneTheme.used .lastPost {
  color: inherit;
}
#themesList > .oneTheme.used .oneTheme_markAsRead {
  background: rgba(158, 158, 158, 0.4);
}
#themesList > .oneTheme.used .overlay:hover + .oneTheme_caption {
  color: inherit;
}
#themesList.simpleList .oneTheme {
  flex-wrap: nowrap;
}
#templates {
  display: none !important;
}
@media (prefers-color-scheme: dark) {
  body.theme_auto {
    background-color: #000000;
    color: #7a99d0;
  }
  body.theme_auto .icon_mask {
    background: #7a99d0;
  }
  body.theme_auto .icon_mask:hover {
    background: #2196f3;
  }
  body.theme_auto #mainPanel #mainPanelButtonsBox .icoAndCount.hasUnread {
    color: #7a99d0;
  }
  body.theme_auto #mainPanel #mainPanelButtonsBox .icoAndCount.hasUnread::before {
    background: #5e6fc7;
  }
  body.theme_auto #mainPanel #mainPanelButtonsBox .icoAndCount.hasUnread:hover {
    color: #2196f3;
  }
  body.theme_auto #mainPanel #mainPanelButtonsBox .icoAndCount.hasUnread:hover::before {
    background: #2196f3;
  }
  body.theme_auto #themesList > .oneTheme .oneTheme_caption {
    color: #7a99d0;
  }
  body.theme_auto #themesList > .oneTheme .oneTheme_caption:hover {
    color: #2196f3;
  }
  body.theme_auto #themesList > .oneTheme .oneTheme_caption.oneTheme_pin {
    color: #1d967f;
  }
  body.theme_auto #themesList > .oneTheme .oneTheme_caption.oneTheme_pin:hover {
    color: #43baa3;
  }
}
/*# sourceMappingURL=popup.css.map */