/*#inspectorPanel>* {
    font-family: Arial, sans-serif;
    background: #FFF;
}*/

#inspectorPanel label {
	border-bottom: 1px dotted transparent;
	cursor: pointer;
}

.separator {
	margin: 0 5px;
}

/***************** BUTTONS *****************/

#inspectorPanelUsername {
	cursor: pointer;
	color: #3565B5;
	font-size: 16px;
}

#inspectorPanelUsername:hover {
	border-color: #3565B5;
}

#inspectorMainPanelButtonsBox {
	color: #888;
}

#inspectorMainPanelButtonsBox label {
	margin: 0 10px 0 0;
	font-size: 18px;
}

#inspectorMainPanelButtonsBox label:hover {
	color: #3565B5;
}

#inspectorPanelQMS {
	background: 0 50% url(chrome://4pdainspector/content/img/message.png) no-repeat;
	height: 16px;
	padding-left: 18px;
}

#inspectorPanelFavorites {
	background: 0 50% url(chrome://4pdainspector/content/img/favorites.png) no-repeat;
	height: 16px;
	padding-left: 18px;
}

#inspectorPanelSettings {
	background: 0 50% url(chrome://4pdainspector/content/img/settings.png) no-repeat;
	height: 16px;
	width: 16px;
}

/***************** THEMES LIST *****************/

#inspectorMainPanel {
	border-bottom: 1px dotted #3565B5;
}

#inspectorThemesList>.oneTheme {
	border-bottom: 1px solid #D0E4EC;
	color: #222;
	padding: 2px 4px;
}

#inspectorThemesList>.oneTheme:hover {
	background-color: #D0E4EC;
}

/*#inspectorThemesList>.oneTheme label:hover {
	color: #3565B5;
}*/

#inspectorThemesList .oneTheme_caption {
	color: #3565B5;
	font-size: 12px;
	margin: 0;
	/*font-weight: bold;*/
}

#inspectorThemesList .oneTheme_caption:hover {
	border-color: #3565B5;
}

.oneThemeInfoHBox>label {
	color: #888;
	font-size: 11px;
	margin: 0;
	border-bottom: 1px dotted transparent;
}

.oneThemeInfoHBox>label:hover {
	border-bottom: 1px dotted #888!important;
}

#inspectorThemesList .oneTheme_user {
	margin-right: 10px;
}