#inspectorSettingsWindow
{
	font-family: 'Ubuntu', 'Tahoma';
	background: #eef;
	font-size: 11pt;
}

#inspector_intervalInput, #inspector_button_fontsize
{
	border-radius: 5px;
	-moz-border-radius: 5px;
}

.inspector_allSettingsBox
{
	border: 2px groove #4474C4;
	padding: 20px 10px 10px;
	position: relative;
	margin-top: 10px;
	border-radius: 5px;
}

.inspector_allSettingsBoxHeading
{
	position: absolute;
	top:-10px;
	left: 3px;
	background: #eef;
	padding: 0 5px;
	font-size: 13px;
}

.inspector_settingsBox
{
	padding: 4px 0;
}

.inspector_settingsBox:not(:last-child)
{
	border-bottom: 1px solid #444;
}

radio
{
	margin: 0px;
}

radio[selected="true"]
{
	color: #30508A;
}

#inspector_button_fontbgcolor_label, #inspector_button_fontcolor_label
{
	cursor: pointer;
}