#inspectorPanel_mainVBox
{
	font-family: 'Ubuntu', 'Tahoma', sans-serif;
	padding:5px;
}

#inspectorPanel_loginBox, #inspector_openAllFavs, .inspectorPanel_menuItem, .inspectorPanel_menuItem>label
{
	cursor:pointer;
}

#inspectorPanel_themesList image
{
	cursor:pointer;
	margin-right: 5px;
}

#inspectorPanel_themesList
{
	padding: 2px 0;
	margin: 3px 0;	
}

#inspectorPanel_themesList.topShadow
{
	box-shadow: inset 0px 10px 10px -10px #000;
}

#inspectorPanel_themesList.bottomShadow
{
	box-shadow: inset 0px -10px 10px -10px #000;
}

#inspectorPanel_themesList.topShadow
{
	box-shadow: inset 0px 10px 10px -10px #000;
}

#inspectorPanel_themesList.bottomShadow.topShadow
{
	box-shadow: inset 0px 10px 10px -10px #000, inset 0px -10px 10px -10px #000;
}

.inspectorPanel_themeBox
{
	border-bottom: 1px dotted #ccc;
}

.inspectorPanel_themeBox:last-child
{
	border-bottom: 0;
}

.inspectorPanel_themeBox:hover
{
	box-shadow: inset 0px 10px 4px -10px #9AF, inset 0px -10px 4px -10px #9AF;
}

.inspectorPanel_themeBox:hover .inspectorPanel_theme
{
	color: #34498B;
}

.inspectorPanel_theme
{
	width: 100%;
	cursor: pointer;
}

.inspectorPanel_theme:hover
{
	color: #5176B5;
}

.inspectorPanel_bottomBox, .inspectorPanel_readedTheme
{
	color: #aaa;
}

.inspectorPanel_themeBox:hover .inspectorPanel_readedTheme
{
	color: #999 !important;
}

.inspectorPanel_bottomBox image
{
	height: 12px;
	width: 12px;
}

.inspectorPanel_bottomBox vbox
{
	margin-right: 0;
}

.inspectorPanel_dateLabel
{
	color: #aaa;
	cursor: pointer;
}

.inspectorPanel_authorLabel
{
	margin-left: 10px;
	color: #aaa;
}

.inspectorPanel_infoBox
{
	font-size: 12px;
}

label:hover, .inspectorPanel_menuItem:hover>label
{
	color: #146;
}

.inspector_marginBox
{
	margin-top: 5px;
}

#refreshImg
{
	cursor: pointer;
	margin-left: 5px;
}

.inspectorPanel_menuItem
{
	margin-right: 10px;
}

.inspectorPanel_menuItem>image
{
	margin-right: 2px;
}

image.inspectorPanel_menuItem, .inspectorPanel_menuItem image
{
	width: 16px;
	height: 16px;
}

#inspectorPanel_menuBox
{
	border-bottom: 1px dashed #4474C4;
	padding-bottom: 5px;
}

#inspector_openSettings
{
	margin-right: 30px;
}

#inspectorPanel_loginHBox
{
	margin-left: 30px;
}

#inspectorPanel_linksBox
{
	border-top: 1px dashed #4474C4;
	padding-top: 5px;
}

.delimiterBox
{
	margin-right: 10px;
}