#inspector4pda_panel_mainVBox
{
	font-family: 'Ubuntu', 'Tahoma', 'Droid Sans', Arial;
	padding:5px;
}

#inspector4pda_panel_loginBox, #inspector4pda_openAllFavs, .inspector4pda_panel_menuItem, .inspector4pda_panel_menuItem>label
{
	cursor:pointer;
}

#inspector4pda_panel_themesList image
{
	cursor:pointer;
	margin-right: 5px;
}

#inspector4pda_panel_themesList
{
	padding: 2px 0;
	margin: 3px 0;	
}

#inspector4pda_panel_themesList.topShadow
{
	box-shadow: inset 0px 10px 10px -10px #000;
}

#inspector4pda_panel_themesList.bottomShadow
{
	box-shadow: inset 0px -10px 10px -10px #000;
}

#inspector4pda_panel_themesList.bottomShadow.topShadow
{
	box-shadow: inset 0px 10px 10px -10px #000, inset 0px -10px 10px -10px #000;
}

.inspector4pda_panel_themeBox
{
	border-bottom: 1px dotted #ccc;
}

.inspector4pda_panel_themeBox:last-child
{
	border-bottom: 0;
}

.inspector4pda_panel_themeBox:hover
{
	box-shadow: inset 0px 10px 4px -10px #9AF, inset 0px -10px 4px -10px #9AF;
}

.inspector4pda_panel_themeBox:hover .inspector4pda_panel_theme
{
	color: #34498B;
}

.inspector4pda_panel_theme
{
	width: 100%;
	cursor: pointer;
}

.inspector4pda_panel_theme:hover
{
	color: #5176B5;
}

.inspector4pda_panel_bottomBox, .inspector4pda_panel_readedTheme
{
	color: #aaa;
}

.inspector4pda_panel_themeBox:hover .inspector4pda_panel_readedTheme
{
	color: #999 !important;
}

.inspector4pda_panel_noThemesLabel
{
	color: #aaa;
	box-shadow: none !important;
}

.inspector4pda_panel_bottomBox image
{
	height: 12px;
	width: 12px;
}

.inspector4pda_panel_bottomBox vbox
{
	margin-right: 0;
}

.inspector4pda_panel_dateLabel
{
	color: #aaa;
	cursor: pointer;
}

.inspector4pda_panel_authorLabel
{
	margin-left: 10px;
	color: #aaa;
}

.inspector4pda_panel_infoBox
{
	font-size: 12px;
}

label:hover, .inspector4pda_panel_menuItem:hover>label
{
	color: #146;
}

.inspector4pda_marginBox
{
	margin-top: 5px;
}

#refreshImg
{
	cursor: pointer;
	margin-left: 5px;
}

.inspector4pda_panel_menuItem
{
	margin-right: 10px;
}

.inspector4pda_panel_menuItem>image
{
	margin-right: 2px;
}

image.inspector4pda_panel_menuItem, .inspector4pda_panel_menuItem image
{
	width: 16px;
	height: 16px;
}

#inspector4pda_panel_menuBox
{
	border-bottom: 1px dashed #4474C4;
	padding-bottom: 5px;
}

#inspector4pda_openSettings
{
	margin-right: 30px;
}

#inspector4pda_panel_loginHBox
{
	margin-left: 30px;
}

#inspector4pda_panel_linksBox
{
	border-top: 1px dashed #4474C4;
	padding-top: 5px;
}

.delimiterBox
{
	margin-right: 10px;
}