body {
  font-family: "Segoe UI", "Helvetica Neue", Helvetica, Tahoma, Arial, sans-serif;
  background: #fff;
  margin: 0;
  font-size: 14px;
  min-width: 400px;
}
header {
  position: sticky;
  top: 0;
  background: #0072bc;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
header .header-item {
  cursor: pointer;
  transition: color 0.5s;
}
header .header-item:hover {
  color: #a7c2bf;
}
header #counters {
  display: flex;
  gap: 10px;
}
header #counters .header-item {
  align-items: center;
  display: flex;
  opacity: 0.5;
  transition: color 0.5s, opacity 0.5s;
}
header #counters .header-item.accent {
  opacity: 1;
}
header #counters .header-item::before {
  content: '';
  width: 16px;
  height: 16px;
  mask-size: 16px 16px;
  mask-repeat: no-repeat;
  mask-position: left center;
  background: #fff;
  transition: background-color 0.5s;
  display: inline-block;
  margin-right: 6px;
}
header #counters .header-item:hover::before {
  background: #a7c2bf;
}
header #counters #header-qms::before {
  mask-image: url('../img/message.svg');
}
header #counters #header-favorites::before {
  mask-image: url('../img/star.svg');
}
header #counters #header-mentions::before {
  mask-image: url('../img/mention.svg');
}
header #options {
  width: 16px;
  height: 16px;
  mask-size: 16px 16px;
  mask-repeat: no-repeat;
  mask-position: left center;
  background: #fff;
  transition: background-color 0.5s;
  mask-image: url('../img/settings.svg');
}
header #options:hover {
  background: #a7c2bf;
}
main ul#topic-list {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #949DB0;
}
main ul#topic-list li {
  padding: 5px 10px;
  cursor: default;
}
main ul#topic-list li.one-theme {
  border: none;
  cursor: pointer;
  transition: background-color 0.5s;
  border-color: #eceef1;
  border-style: dashed;
  border-width: 0;
}
main ul#topic-list li.one-theme .topic-title {
  color: #4373c3;
  transition: color 0.5s;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
main ul#topic-list li.one-theme .topic-title.accent {
  color: #1a7f5b;
}
main ul#topic-list li.one-theme .topic-last-info {
  font-size: 11px;
  display: inline;
  transition: color 0.5s;
}
main ul#topic-list li.one-theme .topic-last-info:hover {
  color: #35968e;
}
main ul#topic-list li.one-theme.used .topic-title {
  color: #949DB0;
  text-decoration: line-through;
}
main ul#topic-list li.one-theme:hover {
  background-color: #f0faff;
}
main ul#topic-list li.one-theme:hover:not(.used) .topic-title {
  color: #35968e;
}
main ul#topic-list li.one-theme:not(:last-child) {
  border-bottom-width: 1px;
}
#templates {
  display: none;
}
@media (prefers-color-scheme: dark) {
  body {
    background: #202124;
  }
  header {
    background: #4373c3;
  }
  main ul#topic-list li.one-theme {
    border-color: #383a3f;
  }
  main ul#topic-list li.one-theme:hover {
    background-color: #383a3f;
  }
  main ul#topic-list li.one-theme .topic-title {
    filter: brightness(120%);
  }
}
