#inspector4pda_settingsWindow
{
	font-family: 'Ubuntu', 'Tahoma', 'Droid Sans', Arial;
	background: #eee;
	font-size: 11pt;
}

#inspector4pda_intervalInput, #inspector4pda_button_fontsize
{
	border-radius: 5px;
	-moz-border-radius: 5px;
}

.inspector4pda_allSettingsBox
{
	border: 2px groove #4474C4;
	padding: 10px 10px 12px;
	position: relative;
	margin-top: 10px;
	border-radius: 5px;
}

.inspector4pda_allSettingsBoxHeading
{
	position: absolute;
	top:-10px;
	left: 3px;
	background: #eee;
	padding: 0 5px;
	font-size: 13px;
}

.inspector4pda_settingsBox
{
	padding: 4px 0;
}

.inspector4pda_settingsBox:not(:last-child)
{
	border-bottom: 1px solid #4474C4;
}

radio
{
	margin: 0px;
}

radio[selected="true"]
{
	color: #30508A;
}

#inspector4pda_button_fontbgcolor_label, #inspector4pda_button_fontcolor_label
{
	cursor: pointer;
}

.inspector4pda_leftLabel
{
	width: 210px;
}

.inspector4pda_halfInput
{
	width: 150px;
}