/*#inspector4pda_panel>* {
    font-family: Arial, sans-serif;
    background: #FFF;
}*/
#inspector4pda_panel .hidden {
	display: none;
}

#inspector4pda_panelMainVBox {
	background: #FFF;
	border-radius: 5px;
}

#inspector4pda_panel label, .icoAndCount {
	cursor: pointer;
}

.separator {
	margin: 0 5px;
}

/***************** BUTTONS *****************/

#inspector4pda_panelUsername {
	cursor: pointer;
	color: #3565B5;
	font-size: 16px;
	margin: 0 5px 0 0;
}
#inspector4pda_panelUsername:hover {
	color: #14A5F4;
}

#inspector4pda_mainPanelButtonsBox {
	color: #3565B5;
}

#inspector4pda_mainPanelButtonsBox label {
	margin: 0 10px 0 0;
	font-size: 18px;
}
#inspector4pda_mainPanelButtonsBox label:hover {
	color: #14A5F4;
}

#inspector4pda_mainPanel label.icon {
	margin: 2px 2px 0 0;
	font-size: 10px;
	height: 16px;
	width: 16px;
	background-image: url(chrome://4pdainspector/content/img/icons1.png);
	background-repeat: no-repeat;
}

#inspector4pda_panelQMS .icon {
	background-position: -16px -16px;
}
#inspector4pda_panelQMS.hasUnread .icon {
	background-position: 0 -16px;
}
#inspector4pda_panelQMS:hover .icon {
	background-position: -32px -16px;
}

#inspector4pda_panelFavorites .icon {
	background-position: -16px 0;
}
#inspector4pda_panelFavorites.hasUnread .icon {
	background-position: 0 0;
}
#inspector4pda_panelFavorites:hover .icon {
	background-position: -32px 0;
}

#inspector4pda_panelSettings {
	background-position: -64px 0;
}
#inspector4pda_panelSettings:hover {
	background-position: -64px -16px;
}

#massThemesActions label {
	margin: 2px 10px 0 0;
	background-image: url(chrome://4pdainspector/content/img/icons1.png);
	background-repeat: no-repeat;
	height: 16px;
	width: 22px;
	font-size: 10px;
}
#inspector4pda_panelOpenAll {
	background-position: -80px 0;
}
#inspector4pda_panelOpenAll:hover {
	background-position: -80px -16px;
}
#inspector4pda_panelReadAll {
	background-position: -102px 0;
}
#inspector4pda_panelReadAll:hover {
	background-position: -102px -16px;
}

#inspector4pda_panelRefresh {
	background-position: -48px 0;
}
#inspector4pda_panelRefresh:hover {
	background-position: -48px -16px;
}

#inspector4pda_panelUsernameHBox {
	margin-left: 10px;
}

/***************** THEMES LIST *****************/

#inspector4pda_mainPanel {
	border-bottom: 1px dotted #3565B5;
	padding: 0 10px;
}

#inspector4pda_themesList>.oneTheme {
	border-bottom: 1px solid #D0E4EC;
	color: #222;
	padding: 2px 4px;
}
#inspector4pda_themesList>.oneTheme:hover {
	background-color: #D0E4EC;
}

#inspector4pda_themesList .oneTheme_caption {
	color: #3565B5;
	font-size: 12px;
	margin: 0;
}

#inspector4pda_themesList .oneTheme_pin {
	color: #0F890F;
}

#inspector4pda_themesList .oneTheme_caption.readed {
	color: #888;
}

#inspector4pda_themesList .oneTheme_caption:hover {
	color: #14A5F4;
}

.oneThemeInfoHBox>label {
	color: #888;
	font-size: 11px;
	margin: 0;
}

.oneThemeInfoHBox>label:hover {
	color: #14A5F4;
}

#inspector4pda_themesList .oneTheme_user {
	margin-right: 10px;
}

#inspector4pda_themesList .oneTheme_markAsRead {
	margin-left: 10px;
	cursor: pointer;
	background: -124px 0 url(chrome://4pdainspector/content/img/icons1.png) no-repeat;
	height: 16px;
	width: 16px;
}
#inspector4pda_themesList .oneTheme_markAsRead:hover {
	background-position: -124px -16px;
}

/* ТЕНИ */

#inspector4pda_themesList.topShadow
{
	box-shadow: inset 0px 10px 10px -10px #000;
}

#inspector4pda_themesList.bottomShadow
{
	box-shadow: inset 0px -10px 10px -10px #000;
}

#inspector4pda_themesList.bottomShadow.topShadow
{
	box-shadow: inset 0px 10px 10px -10px #000, inset 0px -10px 10px -10px #000;
}