/*#inspectorPanel>* {
    font-family: Arial, sans-serif;
    background: #FFF;
}*/

#inspectorPanel label {
	border-bottom: 1px dotted transparent;
	cursor: pointer;
}

.separator {
	margin: 0 5px;
}

/***************** BUTTONS *****************/

#inspectorPanelUsername {
	cursor: pointer;
	color: #3565B5;
	font-size: 16px;
	margin: 0;
}

#inspectorPanelUsername:hover {
	color: #14A5F4;
}

#inspectorMainPanelButtonsBox {
	color: #3565B5;
}

#inspectorMainPanelButtonsBox label {
	margin: 0 10px 0 0;
	font-size: 18px;
}

#inspectorMainPanelButtonsBox label:hover {
	color: #14A5F4;
}

#inspectorPanelQMS {
	background: 0 50% url(chrome://4pdainspector/content/img/message_gray.png) no-repeat;
	height: 16px;
	padding-left: 18px;
}

#inspectorPanelQMS.hasUnread {
	background-image: url(chrome://4pdainspector/content/img/message.png);
}

#inspectorPanelFavorites {
	background: 0 50% url(chrome://4pdainspector/content/img/favorites_gray.png) no-repeat;
	height: 16px;
	padding-left: 18px;
}

#inspectorPanelFavorites.hasUnread {
	background-image: url(chrome://4pdainspector/content/img/favorites.png);
}

#inspectorPanelSettings {
	background: 0 50% url(chrome://4pdainspector/content/img/settings.png) no-repeat;
	height: 16px;
	width: 16px;
}

#inspectorPanelOpenAll {
	background: 0 50% url(chrome://4pdainspector/content/img/open_all.png) no-repeat;
	height: 16px;
	width: 22px;
}

#inspectorPanelReadAll {
	background: 0 50% url(chrome://4pdainspector/content/img/read_all.png) no-repeat;
	height: 16px;
	width: 22px;
}

#inspectorPanelRefresh {
	background: 0 50% url(chrome://4pdainspector/content/img/refresh.png) no-repeat;
	height: 16px;
	width: 16px;
	margin: 0;
}

#inspectorPanelUsernameHBox {
	margin-left: 10px;
}

/***************** THEMES LIST *****************/

#inspectorMainPanel {
	border-bottom: 1px dotted #3565B5;
}

#inspectorThemesList>.oneTheme {
	border-bottom: 1px solid #D0E4EC;
	color: #222;
	padding: 2px 4px;
}

#inspectorThemesList>.oneTheme:hover {
	background-color: #D0E4EC;
}

/*#inspectorThemesList>.oneTheme label:hover {
	color: #3565B5;
}*/

#inspectorThemesList .oneTheme_caption {
	color: #3565B5;
	font-size: 12px;
	margin: 0;
	/*font-weight: bold;*/
}

#inspectorThemesList .oneTheme_caption:hover {
	color: #14A5F4;
}

.oneThemeInfoHBox>label {
	color: #888;
	font-size: 11px;
	margin: 0;
}

.oneThemeInfoHBox>label:hover {
	color: #14A5F4;
}

#inspectorThemesList .oneTheme_user {
	margin-right: 10px;
}

/* ТЕНИ */
#inspectorPanel_themesList.topShadow
{
	box-shadow: inset 0px 10px 10px -10px #000;
}

#inspectorPanel_themesList.bottomShadow
{
	box-shadow: inset 0px -10px 10px -10px #000;
}

#inspectorPanel_themesList.bottomShadow.topShadow
{
	box-shadow: inset 0px 10px 10px -10px #000, inset 0px -10px 10px -10px #000;
}